
extends ../layouts/default

mixin post(post)
	div(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h2: a.blogTitle(href='/blog/post/' + post.slug)= post.title
		p.lead.text-muted.published Posted 
			if post
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.author
				| by #{post.author.name.first}
		if post.image.exists
			img(src=post._.image.fit(160,160)).img.pull-right.blogImage
		p.blogsPageContent!= post.content.brief
		if post.content.extended
			p.read-more: a#readMoreBlog(href='/blog/post/' + post.slug) Read more...
		hr

block intro
	.container
		//- h1= data.category ? data.category.name : 'Blog'

block content
	.container: .row.blog.justify-content-center
		.col-sm-8.col-md-9.col-lg-12
			if data.posts.results.length
				.blog
					each post in data.posts.results
						+post(post)
			else
				h3.text-muted There are no posts yet.
	
	